/* CSS Document */
.anasayfaico
{
background-image:url(imageust/anasayfa.jpg);
background-repeat:no-repeat;
}
.anasayfaico2
{
background-image:url(imageust/anasayfa2.jpg);
background-repeat:no-repeat;
}

.anayapi
{ 
width:1025px;
height:449px;
}
.anayapiorta
{ 
width:1025px;
padding-left:30px;
height:350px;
}
.anasag
{
height:449px; 
width:260px;
float:right;
}
.anasol
{
width:765px;
height:449px;
float:left;
}

.basliksol
{ 
height:449px;
width:309px;
float:left;
}

.basliksag
{ 
height:449px;
width:456px;
float:right;
}
.baslikust
{ 
height:138px;
width:456px; 
background-repeat:repeat;
}
.clr
{
clear:both;
}
.boslukh
{ 
height:200px;
}
.baslikana
{
text-align:left; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px; 
color:#CC9900;
}
.baslikufak
{
text-align:left; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px; 
color:#abbb35;
}
.altadres
{
width:1025px;
height:60px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666666;
}
.altlink
{
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#666666;
}
.baslikalt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
text-decoration:none;
text-align:left;
}
.baslikalt2
{
height:311px;
width:456px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
text-decoration:underline;
}
.baslikaltorta
{
height:311px;
width:456px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
}
.menu
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
text-decoration:none;
text-align:left;
}
.menu a:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
text-decoration:none;
text-align:left;
}

.resimcerceve
{
border: #666666 solid 1px;

}


